# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
dist/
build/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
.env.local
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo