Django==5.0.3
djangorestframework==3.14.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
channels==4.0.0
channels-redis==4.2.0
redis==5.0.1
django-filter==23.5
drf-yasg==1.21.7
Pillow==10.1.0
django-seed==0.3.1
celery==5.3.6
asgiref==3.7.2